.productList {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.productList article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box shadow */
  -webkit-box-shadow: 10px 11px 22px -12px rgba(56, 56, 56, 1);
  -moz-box-shadow: 10px 11px 22px -12px rgba(56, 56, 56, 1);
  box-shadow: 10px 11px 22px -12px rgba(56, 56, 56, 1);
}

.productList article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.productList article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;
  margin-top: 10px;
  color: #da552f;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  width: 200px;
}

.productList article a:hover {
  background: #da552f;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actions button {
  height: 42px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: #da552f;
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  width: 150px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #bb2d06;
}

.productList .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.productList .actions button[disabled]:hover {
  opacity: 0.5;
  cursor: default;
  background-color: #da552f;
}
